<div class="card h-100 d-flex flex-column">
  <div class="card-body flex-grow-1">
      <h5 class="card-title">{{ contact.fname }} {{ contact.lname }}</h5>
  
      <p class="card-text mb-1">
        <strong>Phone: </strong> {{ contact.phone }}
      </p>
      <p class="card-text mb-3">
        <strong>Email: </strong> {{ contact.email || '—' }}
      </p>
  
    <div class="mt-auto d-flex justify-content-between card-footer bg-transparent">
      <button type="button" class="btn btn-sm btn-outline-secondary"
                (click)="edit.emit(contact)">
          Edit
      </button>
      <button class="btn btn-sm btn-outline-danger"
                (click)="delete.emit(contact)">
          Delete
      </button>
    </div>
  </div>
</div>
  